In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123123@localhost:5432')
conn = engine.connect()

In [2]:
# close connection to create db
conn.execute("commit")

In [3]:
# conn.execute("DROP DATABASE olist;")
conn.execute("COMMIT;")
conn.execute("CREATE DATABASE olist WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';")

OperationalError: (psycopg2.errors.ObjectInUse) database "olist" is being accessed by other users
DETAIL:  There is 1 other session using the database.

[SQL: DROP DATABASE olist;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
conn.close()
engine = create_engine('postgresql://postgres:123123@localhost:5432/olist')
conn = engine.connect()

In [ ]:
state_table = """CREATE TABLE public.state (
                    id bigint NOT NULL,
                    name character varying(100)
);
"""
state_seq="""CREATE SEQUENCE public.state_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
state_alters = """ALTER TABLE ONLY public.state ALTER COLUMN id SET DEFAULT nextval('public.state_id_seq'::regclass);
ALTER TABLE ONLY public.state ADD CONSTRAINT state_pk PRIMARY KEY (id);
ALTER SEQUENCE public.state_id_seq OWNED BY public.state.id;
"""

conn.execute(state_table)
conn.execute(state_seq)
conn.execute(state_alters)

In [ ]:
city_table = """CREATE TABLE public.city (
                    id bigint NOT NULL,
                    name character varying(255),
                    state_id bigint
                );
"""
city_seq="""CREATE SEQUENCE public.city_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
city_alters = """ALTER TABLE ONLY public.city ALTER COLUMN id SET DEFAULT nextval('public.city_id_seq'::regclass);
ALTER TABLE ONLY public.city ADD CONSTRAINT city_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.city ADD CONSTRAINT city_fk FOREIGN KEY (state_id) REFERENCES public.state(id);
ALTER SEQUENCE public.city_id_seq OWNED BY public.city.id;
"""

conn.execute(city_table)
conn.execute(city_seq)
conn.execute(city_alters)

In [ ]:
zip_table = """CREATE TABLE public.zip (
                    id bigint NOT NULL,
                    prefix character varying(5),
                    city_id bigint
);
"""
zip_seq="""CREATE SEQUENCE public.zip_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
zip_alters = """ALTER TABLE ONLY public.zip ALTER COLUMN id SET DEFAULT nextval('public.zip_id_seq'::regclass);
ALTER TABLE ONLY public.zip ADD CONSTRAINT zip_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.zip ADD CONSTRAINT zip_fk FOREIGN KEY (city_id) REFERENCES public.city(id);
ALTER SEQUENCE public.zip_id_seq OWNED BY public.zip.id;
"""

conn.execute(zip_table)
conn.execute(zip_seq)
conn.execute(zip_alters)

In [ ]:
geo_table = """CREATE TABLE public.geolocation (
                    id bigint NOT NULL,
                    latitude double precision,
                    longitude double precision,
                    zip_id bigint
                );
"""
geo_seq="""CREATE SEQUENCE public.geolocation_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
geo_alters = """ALTER TABLE ONLY public.geolocation ALTER COLUMN id SET DEFAULT nextval('public.geolocation_id_seq'::regclass);
ALTER TABLE ONLY public.geolocation ADD CONSTRAINT geolocation_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.geolocation ADD CONSTRAINT geolocation_fk FOREIGN KEY (zip_id) REFERENCES public.zip(id);
ALTER SEQUENCE public.geolocation_id_seq OWNED BY public.geolocation.id;
"""

conn.execute(geo_table)
conn.execute(geo_seq)
conn.execute(geo_alters)

In [ ]:
seller_table = """CREATE TABLE public.seller (
                id text NOT NULL,
                zip_id bigint
            );
"""
seller_seq="""CREATE SEQUENCE public.seller_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
seller_alters = """ALTER TABLE ONLY public.seller ALTER COLUMN id SET DEFAULT ('seller'::text || nextval('public.seller_id_seq'::regclass));
ALTER TABLE ONLY public.seller ADD CONSTRAINT seller_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.seller ADD CONSTRAINT seller_fk FOREIGN KEY (zip_id) REFERENCES public.zip(id);
ALTER SEQUENCE public.seller_id_seq OWNED BY public.seller.id;
"""

conn.execute(seller_table)
conn.execute(seller_seq)
conn.execute(seller_alters)

In [ ]:
customer_table = """CREATE TABLE public.customer (
                        id text NOT NULL,
                        unique_id character varying(100),
                        zip_id bigint
);
"""
customer_seq="""CREATE SEQUENCE public.customer_id_seq
                    START WITH 1
                    INCREMENT BY 1
                    NO MINVALUE
                    NO MAXVALUE
                    CACHE 1;
"""
customer_alters = """ALTER TABLE ONLY public.customer ALTER COLUMN id SET DEFAULT ('cust'::text || nextval('public.customer_id_seq'::regclass));
ALTER TABLE ONLY public.customer ADD CONSTRAINT customer_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.customer ADD CONSTRAINT customer_fk FOREIGN KEY (zip_id) REFERENCES public.zip(id);
ALTER SEQUENCE public.customer_id_seq OWNED BY public.customer.id;
"""

conn.execute(customer_table)
conn.execute(customer_seq)
conn.execute(customer_alters)

In [ ]:
cat_table = """CREATE TABLE public.category (
                id bigint NOT NULL,
                name character varying(255)
            );
"""
cat_seq="""CREATE SEQUENCE public.category_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
cat_alters = """ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);
ALTER TABLE ONLY public.category ADD CONSTRAINT category_pk PRIMARY KEY (id);
ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;
"""

conn.execute(cat_table)
conn.execute(cat_seq)
conn.execute(cat_alters)

In [ ]:
lang_table = """CREATE TABLE public.language (
                    id bigint NOT NULL,
                    code character varying(5)
                );
"""
lang_seq="""CREATE SEQUENCE public.language_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
lang_alters = """ALTER TABLE ONLY public.language ALTER COLUMN id SET DEFAULT nextval('public.language_id_seq'::regclass);
ALTER TABLE ONLY public.language ADD CONSTRAINT language_pk PRIMARY KEY (id);
ALTER SEQUENCE public.language_id_seq OWNED BY public.language.id;
"""

conn.execute(lang_table)
conn.execute(lang_seq)
conn.execute(lang_alters)

In [ ]:
i18n_table = """CREATE TABLE public.internationalization (
                    id bigint NOT NULL,
                    reference_table character varying(100),
                    reference_id bigint,
                    language_id bigint,
                    text character varying(255)
                );
"""
i18n_seq="""CREATE SEQUENCE public.internationalization_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
i18n_alters = """ALTER TABLE ONLY public.internationalization ALTER COLUMN id SET DEFAULT nextval('public.internationalization_id_seq'::regclass);
ALTER TABLE ONLY public.internationalization ADD CONSTRAINT internationalization_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.internationalization ADD CONSTRAINT internationalization_fk FOREIGN KEY (language_id) REFERENCES public.language(id);
ALTER SEQUENCE public.internationalization_id_seq OWNED BY public.internationalization.id;
"""

conn.execute(i18n_table)
conn.execute(i18n_seq)
conn.execute(i18n_alters)

In [ ]:
prod_table = """CREATE TABLE public.product (
                    id text NOT NULL,
                    category_id bigint,
                    name_length double precision,
                    description_length double precision,
                    photos_qty integer,
                    weight_g double precision,
                    length_cm double precision,
                    height_cm double precision,
                    width_cm double precision                    
                );
"""
prod_seq="""CREATE SEQUENCE public.product_id_seq
                START WITH 1
                INCREMENT BY 1
                NO MINVALUE
                NO MAXVALUE
                CACHE 1;
"""
prod_alters = """ALTER TABLE ONLY public.product ALTER COLUMN id SET DEFAULT ('prod'::text || nextval('public.product_id_seq'::regclass));
ALTER TABLE ONLY public.product ADD CONSTRAINT product_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.product ADD CONSTRAINT product_fk FOREIGN KEY (category_id) REFERENCES public.category(id);
ALTER SEQUENCE public.product_id_seq OWNED BY public.product.id;
"""

conn.execute(prod_table)
conn.execute(prod_seq)
conn.execute(prod_alters)

In [ ]:
order_status_table = """CREATE TABLE public.order_status (
                            id bigint NOT NULL,
                            description character varying(100)
                        );
"""
order_status_seq="""CREATE SEQUENCE public.order_status_id_seq
                        START WITH 1
                        INCREMENT BY 1
                        NO MINVALUE
                        NO MAXVALUE
                        CACHE 1;
"""
order_status_alters = """ALTER TABLE ONLY public.order_status ALTER COLUMN id SET DEFAULT nextval('public.order_status_id_seq'::regclass);
ALTER TABLE ONLY public.order_status ADD CONSTRAINT order_status_pk PRIMARY KEY (id);
ALTER SEQUENCE public.order_status_id_seq OWNED BY public.order_status.id;
"""

conn.execute(order_status_table)
conn.execute(order_status_seq)
conn.execute(order_status_alters)

In [ ]:
order_table = """CREATE TABLE public."order" (
                            id text NOT NULL,
                            customer_id text,
                            status_id bigint,
                            purchase_timestamp date,
                            approved_at date,
                            delivered_carrier_date date,
                            delivered_customer_date date,
                            estimated_delivery_date date
                        );
"""
order_seq="""CREATE SEQUENCE public.order_id_seq
                        START WITH 1
                        INCREMENT BY 1
                        NO MINVALUE
                        NO MAXVALUE
                        CACHE 1;
"""
order_alters = """ALTER TABLE ONLY public."order" ALTER COLUMN id SET DEFAULT ('order'::text || nextval('public.order_id_seq'::regclass));
ALTER TABLE ONLY public."order" ADD CONSTRAINT order_pk PRIMARY KEY (id);
ALTER TABLE ONLY public."order" ADD CONSTRAINT order_fk FOREIGN KEY (status_id) REFERENCES public.order_status(id);
ALTER TABLE ONLY public."order" ADD CONSTRAINT order_fk1 FOREIGN KEY (customer_id) REFERENCES public.customer(id);
ALTER SEQUENCE public.order_id_seq OWNED BY public."order".id;
"""

conn.execute(order_table)
conn.execute(order_seq)
conn.execute(order_alters)

In [ ]:
order_item_table = """CREATE TABLE public.order_item (
                            id bigint NOT NULL,
                            order_id text,
                            item_id bigint,
                            product_id text,
                            seller_id text,
                            shipping_limit_date date,
                            price double precision,
                            freight_value text
                        );
"""
order_item_seq="""CREATE SEQUENCE public.order_item_id_seq
                    START WITH 1
                    INCREMENT BY 1
                    NO MINVALUE
                    NO MAXVALUE
                    CACHE 1;
"""
order_item_alters = """ALTER TABLE ONLY public.order_item ALTER COLUMN id SET DEFAULT nextval('public.order_item_id_seq'::regclass);
ALTER TABLE ONLY public.order_item ADD CONSTRAINT order_item_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.order_item ADD CONSTRAINT order_item_fk FOREIGN KEY (order_id) REFERENCES public."order"(id);
ALTER TABLE ONLY public.order_item ADD CONSTRAINT order_item_fk_1 FOREIGN KEY (product_id) REFERENCES public.product(id);
ALTER TABLE ONLY public.order_item ADD CONSTRAINT order_item_fk_2 FOREIGN KEY (seller_id) REFERENCES public.seller(id);
ALTER SEQUENCE public.order_item_id_seq OWNED BY public.order_item.id;
"""

conn.execute(order_item_table)
conn.execute(order_item_seq)
conn.execute(order_item_alters)

In [ ]:
paymt_type_table = """CREATE TABLE public.payment_type (
                        id bigint NOT NULL,
                        description character varying(100)
                    );
"""
paymt_type_seq="""CREATE SEQUENCE public.payment_type_id_seq
                        START WITH 1
                        INCREMENT BY 1
                        NO MINVALUE
                        NO MAXVALUE
                        CACHE 1;
"""
paymt_type_alters = """ALTER TABLE ONLY public.payment_type ALTER COLUMN id SET DEFAULT nextval('public.payment_type_id_seq'::regclass);
ALTER TABLE ONLY public.payment_type ADD CONSTRAINT payment_type_pk PRIMARY KEY (id);
ALTER SEQUENCE public.payment_type_id_seq OWNED BY public.payment_type.id;
"""

conn.execute(paymt_type_table)
conn.execute(paymt_type_seq)
conn.execute(paymt_type_alters)

In [ ]:
order_paymt_table = """CREATE TABLE public.order_payment (
                            id bigint NOT NULL,
                            order_id text,
                            payment_type_id bigint,
                            sequential bigint,
                            installments integer,
                            value double precision
                        );
"""
order_paymt_seq="""CREATE SEQUENCE public.order_payment_id_seq
                        START WITH 1
                        INCREMENT BY 1
                        NO MINVALUE
                        NO MAXVALUE
                        CACHE 1;
"""
order_paymt_alters = """ALTER TABLE ONLY public.order_payment ALTER COLUMN id SET DEFAULT nextval('public.order_payment_id_seq'::regclass);
ALTER TABLE ONLY public.order_payment ADD CONSTRAINT order_payment_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.order_payment ADD CONSTRAINT order_payment_fk FOREIGN KEY (payment_type_id) REFERENCES public.payment_type(id);
ALTER SEQUENCE public.order_payment_id_seq OWNED BY public.order_payment.id;
"""

conn.execute(order_paymt_table)
conn.execute(order_paymt_seq)
conn.execute(order_paymt_alters)

In [ ]:
order_review_table = """CREATE TABLE public.order_review (
                            id text NOT NULL,
                            order_id text,
                            score integer,
                            comment_title character varying(500),
                            comment_message character varying(5000),
                            create_date date,
                            answer_timestamp date
                        );
"""
order_review_seq="""CREATE SEQUENCE public.order_review_id_seq
                        START WITH 1
                        INCREMENT BY 1
                        NO MINVALUE
                        NO MAXVALUE
                        CACHE 1;
"""
order_review_alters = """ALTER TABLE ONLY public.order_review ALTER COLUMN id SET DEFAULT ('review'::text || nextval('public.order_review_id_seq'::regclass));
ALTER TABLE ONLY public.order_review ADD CONSTRAINT order_review_pk PRIMARY KEY (id);
ALTER TABLE ONLY public.order_review ADD CONSTRAINT order_review_fk FOREIGN KEY (order_id) REFERENCES public."order"(id);
ALTER SEQUENCE public.order_review_id_seq OWNED BY public.order_review.id;
"""

conn.execute(order_review_table)
conn.execute(order_review_seq)
conn.execute(order_review_alters)

In [ ]:
conn.close()