In [1]:
import pandas as pd
import unicodedata
import string
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:123123@localhost:5432/olist')
conn = engine.connect()
table = str.maketrans('', '', string.punctuation)

In [3]:
conn.execute("""truncate table order_review CASCADE;
truncate table order_payment CASCADE; 
truncate table payment_type CASCADE;
truncate table order_item CASCADE;
truncate table "order" CASCADE;
truncate table order_status CASCADE;
truncate table product CASCADE;
truncate table internationalization CASCADE;
truncate table "language" CASCADE;
truncate table category CASCADE;
truncate table customer CASCADE;
truncate table seller CASCADE;
truncate table geolocation CASCADE;
truncate table zip CASCADE;
truncate table city CASCADE;
truncate table state CASCADE;
""")

In [4]:
df_seller = pd.read_csv('../datasets/olist_sellers_dataset.csv')
df_product = pd.read_csv('../datasets/olist_products_dataset.csv')
df_category_translation = pd.read_csv('../datasets/product_category_name_translation.csv')
df_customers = pd.read_csv('../datasets/olist_customers_dataset.csv')
df_geolocation = pd.read_csv('../datasets/olist_geolocation_dataset.csv')
df_order = pd.read_csv('../datasets/olist_orders_dataset.csv')
df_order_item = pd.read_csv('../datasets/olist_order_items_dataset.csv')
df_order_payment = pd.read_csv('../datasets/olist_order_payments_dataset.csv')
# The next dataframe has strings without delimiters which is breaking import.
# getting all cols as string to perform basic checks
df_order_review = pd.read_csv('../datasets/olist_order_reviews_dataset.csv', dtype=str, skipinitialspace = True, quotechar = '"')

In [5]:
df_zip = pd.DataFrame()

### CATEGORY

**get all categories from products dataset to ensure every possibel category in inserted**

In [6]:
category_list = df_product.product_category_name.unique()

In [7]:
sql = 'BEGIN;\n'
for cat in category_list:
    sql += f"insert into category(name) values('{cat}');\n"
sql += 'COMMIT;'
conn.execute(sql)

### LANGUAGE
**for now I'll insert only english, which is the only translation present in the dataset**

In [8]:
sql = "insert into language(code) values('EN-US');"
conn.execute(sql)

In [9]:
sql = "select * from language where code = 'EN-US'"
result = conn.execute(sql)
lang_id, _ = result.first()
lang_id

1

### INTERNATIONALIZATION

**Lets insert the translations for product categories**

In [10]:
sql = 'BEGIN;\n'
for index, row in df_category_translation.iterrows():
    sql += f"""insert into internationalization(reference_table, reference_id, language_id, text) 
            VALUES('category', (select id from category where name='{row['product_category_name']}'), {lang_id}, '{row['product_category_name_english']}');\n"""            
sql += 'COMMIT;'
result = conn.execute(sql)

### GEOLOCATION 
**lets make some treatment and insert states, cities, zip prefix and geolocation into its respective tables**

In [11]:
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_zip = df_geolocation.drop(['geolocation_lat', 'geolocation_lng'], axis=1)

df_zip = df_zip.groupby(['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']).count().reset_index()
# df_zip

#### STATE

In [12]:
state_list = df_zip.geolocation_state.unique()
# state_list

In [13]:
sql = 'BEGIN;\n'
for state in state_list:
    sql += f"""insert into state(name) VALUES('{state}');\n"""            
sql += 'COMMIT;'
result = conn.execute(sql)

#### CITY

In [14]:
df_cities = df_zip.drop(['geolocation_zip_code_prefix'], axis=1).groupby(['geolocation_city', 'geolocation_state']).count().reset_index()
# df_cities

In [15]:
sql = 'BEGIN;\n'
for index, row in df_cities.iterrows():
    sql += f"""insert into city(name, state_id) VALUES('{row['geolocation_city']}', (select id from state where name='{row['geolocation_state']}'));\n"""
sql += 'COMMIT;'
result = conn.execute(sql)

#### ZIP

In [16]:
sql = 'BEGIN;\n'
for index, row in df_zip.iterrows():
    sql += f"insert into zip(prefix, city_id) VALUES('{row['geolocation_zip_code_prefix']}', (select id from city where name='{row['geolocation_city']}' and state_id=(select id from state where name ='{row['geolocation_state']}')));\n"
sql += 'COMMIT;'
result = conn.execute(sql)

In [17]:
df_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,SAO PAULO,SP
1,1046,-23.546081,-46.644820,SAO PAULO,SP
2,1046,-23.546129,-46.642951,SAO PAULO,SP
3,1041,-23.544392,-46.639499,SAO PAULO,SP
4,1035,-23.541578,-46.641607,SAO PAULO,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,TAPEJARA,RS
1000159,99900,-27.877125,-52.224882,GETULIO VARGAS,RS
1000160,99950,-28.071855,-52.014716,TAPEJARA,RS
1000161,99980,-28.388932,-51.846871,DAVID CANABARRO,RS
1000162,99950,-28.070104,-52.018658,TAPEJARA,RS

In [18]:
sql = """select z.id zip_id, cast(z.prefix as int8) geolocation_zip_code_prefix, 
c.name geolocation_city, s."name" geolocation_state
from zip as z
join city as c on z.city_id = c.id
join state as s on c.state_id = s.id
"""
df_zip_id = pd.read_sql(sql, conn)
df_zip_id

       zip_id  geolocation_zip_code_prefix geolocation_city geolocation_state
0           1                         1001        SAO PAULO                SP
1           2                         1002        SAO PAULO                SP
2           3                         1003        SAO PAULO                SP
3           4                         1004        SAO PAULO                SP
4           5                         1005        SAO PAULO                SP
...       ...                          ...              ...               ...
19577   19578                        99960          CHARRUA                RS
19578   19579                        99965       AGUA SANTA                RS
19579   19580                        99970          CIRIACO                RS
19580   19581                        99980  DAVID CANABARRO                RS
19581   19582                        99990        MULITERNO                RS

[19582 rows x 4 columns]

In [19]:
df_geo_zip = pd.merge(df_geolocation, df_zip_id, how='left', on=['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'])
df_geo_zip

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,zip_id
0,1037,-23.545621,-46.639292,SAO PAULO,SP,37
1,1046,-23.546081,-46.644820,SAO PAULO,SP,46
2,1046,-23.546129,-46.642951,SAO PAULO,SP,46
3,1041,-23.544392,-46.639499,SAO PAULO,SP,41
4,1035,-23.541578,-46.641607,SAO PAULO,SP,35
...,...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,TAPEJARA,RS,19575
1000159,99900,-27.877125,-52.224882,GETULIO VARGAS,RS,19569
1000160,99950,-28.071855,-52.014716,TAPEJARA,RS,19575
1000161,99980,-28.388932,-51.846871,DAVID CANABARRO,RS,19581
1000162,99950,-28.070104,-52.018658,TAPEJARA,RS,19575

In [20]:
df_geo_zip1 = df_geo_zip.drop(['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'], axis=1)
df_geo_zip1.columns = ['latitude','longitude','zip_id']
df_geo_zip1.to_sql('geolocation', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

#### SELLER

In [21]:
df_seller['seller_city'] = df_seller['seller_city'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_seller['seller_state'] = df_seller['seller_state'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_seller_1 = pd.merge(df_seller, df_zip_id, how='left', left_on=['seller_zip_code_prefix', 'seller_city', 'seller_state'], right_on=['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'])
df_seller_1 = df_seller_1.drop(['seller_city', 'seller_state', 'seller_zip_code_prefix', 'geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'], axis=1)
df_seller_1.columns = ['id', 'zip_id']
df_seller_1.to_sql('seller', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

In [22]:
# df_seller['seller_city'] = df_seller['seller_city'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
# df_seller['seller_state'] = df_seller['seller_state'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
# df_seller_1 = pd.merge(df_seller, df_zip_id, how='left', left_on=['seller_zip_code_prefix', 'seller_city', 'seller_state'], right_on=['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'])
# df_seller_1[df_seller_1['zip_id'].isnull()]

In [23]:
df_customers['customer_city'] = df_customers['customer_city'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_customers['customer_state'] = df_customers['customer_state'].map(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode().translate(table).upper().strip())
df_customer_1 = pd.merge(df_customers, df_zip_id, how='left', left_on=['customer_zip_code_prefix', 'customer_city', 'customer_state'], right_on=['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'])
df_customer_1 = df_customer_1.drop(['customer_city', 'customer_state', 'customer_zip_code_prefix', 'geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'], axis=1)
df_customer_1.columns = ['id', 'unique_id', 'zip_id']
df_customer_1.to_sql('customer', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

**There are zip codes/cities/states in customers and sellers which are not in geolocation. I'll change this later to concatenate all of them**

In [25]:
df_cat_id = pd.read_sql("""select id as category_id, name as category_name from category""", conn)
df_product_1 = pd.merge(df_product, df_cat_id, how='left', left_on=['product_category_name'], right_on=['category_name'])
df_product_1 = df_product_1.drop(['product_category_name','category_name'], axis=1)
df_product_1.columns = ['id', 'name_length', 'description_length', 'photos_qty', 'weight_g', 'length_cm', 'height_cm', 'width_cm', 'category_id']
df_product_1.to_sql('product', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

#### ORDER STATUS

In [28]:
status_list = df_order.order_status.unique()
sql = 'BEGIN;\n'
for cat in status_list:
    sql += f"insert into order_status(description) values('{cat}');\n"
sql += 'COMMIT;'
conn.execute(sql)

#### ORDER

In [42]:
df_order_1 = df_order.copy()
df_order_1.columns = [column_name.replace('order_', '') for column_name in df_order.columns]
df_status_id = pd.read_sql("""select id as status_id, description as status from order_status""", conn)
df_order_1 = pd.merge(df_order_1, df_status_id, how='left', on=['status'])
df_order_1 = df_order_1.drop(['status'], axis=1)
df_order_1.to_sql('order', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

#### ORDER ITEM

In [48]:
df_order_item_1 = df_order_item.copy()
df_order_item_1.columns = ['order_id', 'item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
df_order_item_1.to_sql('order_item', conn, if_exists='append', chunksize = 1000, index=False, method='multi')

#### PAYMENT TYPE

In [50]:
payment_type_list = df_order_payment.payment_type.unique()
sql = 'BEGIN;\n'
for cat in payment_type_list:
    sql += f"insert into payment_type(description) values('{cat}');\n"
sql += 'COMMIT;'
conn.execute(sql)

#### ORDER PAYMENT

In [56]:
df_order_payment_1 = df_order_payment.copy()
df_order_payment_1.columns = ['order_id', 'sequential', 'payment_type', 'installments', 'value']
df_payment_type_id = pd.read_sql("""select id as payment_type_id, description as payment_type from payment_type""", conn)
df_order_payment_1 = pd.merge(df_order_payment_1, df_payment_type_id, how='left', on=['payment_type'])
df_order_payment_1 = df_order_payment_1.drop(['payment_type'], axis=1)
df_order_payment_1.to_sql('order_payment', conn, if_exists='append', chunksize = 1000, index=False, method='multi')